{% extends "layout.html" %}

{% block title %}
code
{% endblock %}

{% block content %}
 <a class="btn btn-primary" href="{% url 'tweetcreate' %}">Create a Tweet</a>
  <div class="container row gap-3">
   {% for tweet in tweet %}
<div class="card" style="width: 18rem;">
  <img src="{{tweet.photo.url}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{tweet.user.username}}</h5>
    <p class="card-text">{{tweet.text}}</p>
    {% if tweet.user == user %}
    <a href="{% url 'tweetedit' tweet.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'tweetdelete' tweet.id %}" class="btn btn-danger">Delete</a>
    {%endif%}
      </div>
</div>
   {% endfor %}
  </div>


 {% endblock %}